<br>
<h1>Admin Dashboard</h1>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr class="table-success">
      <th>Total plant varietals &nbsp; <%= link_to '>', admin_products_path %></th>
      <th>Total categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @product_count %></th>
      <th><%= @category_count %></th>
    </tr>
  </tbody>
  

</table>
